<div class="container" style="margin-left: 65px">
    <div class="row">
        <div class="col-lg-3">
            <div class="header__logo" style="margin-left:30px">
                <a href="http://localhost:59666/Home/"><img src="/assets/Content/user/img/logo1.png" alt=""></a>
            </div>
        </div>
        <div class="col-lg-9">
            <nav class="header__menu">
                <ul>
                    <li class="active"><a href="http://localhost:59666/Home/">Trang Chủ</a></li>
                    <li>
                        <a href="/assets/">Whey Protein</a>
                        <ul class="header__menu__dropdown">
                            <li><a href="/assets/shop-details.html">Whey Protein Isolate</a></li>
                            <li><a href="/assets/shoping-cart.html">WheyProteinHydrolyzed</a></li>
                            <li><a href="/assets/checkout.html">Whey Protein Blend</a></li>
                            <li><a href="/assets/blog-details.html">Casein Protein</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Sữa Tăng Cân</a>
                        <ul class="header__menu__dropdown">
                            <li><a href="/assets/shop-details.html">Tăng Cân Nhanh</a></li>
                            <li><a href="/assets/shoping-cart.html">Tăng Cân & Ít Mỡ</a></li>

                        </ul>
                    </li>
                    <li><a style="cursor:pointer">Tăng Sức Mạnh</a></li>
                    <li><a style="cursor:pointer">Blog</a></li>
                    <li><a style="cursor:pointer" href="/about">Liên Hệ</a></li>


                </ul>
            </nav>
        </div>

    </div>
    <div class="humberger__open">
        <i class="fa fa-bars"></i>
    </div>
</div>

<section class="hero" style="margin-left: 65px">
<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <div class="hero__categories" style="margin-left:20px">
                <div class="hero__categories__all">
                    <i class="fa fa-bars"></i>
                    <span>Các Sản Phẩm</span>
                </div>
                <ul>
                    <li><a href="#">Whey Protein Isolate</a></li>
                    <li><a href="#">WheyProteinHydrolyzed</a></li>
                    <li><a href="#">Whey Protein Blend</a></li>
                    <li><a href="#">Casein Protein</a></li>
                    <li><a href="#">Tăng Cân Nhanh</a></li>
                    <li><a href="#">Tăng Cân & Ít Mỡ</a></li>
                    <li><a href="#">BCAA</a></li>
                    <li><a href="#">EAA</a></li>
                    <li><a href="#">Vitaman Tổng Hợp</a></li>
                    <li><a href="#">Hỗ Trợ Xương Khớp</a></li>
                    <li><a href="#">Fresh Bananas</a></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-9">
            <div class="hero__search" style="margin-left:50px">
                <div class="hero__search__form">
                    <form method="get" action="">
                        <div class="hero__search__categories">
                            Danh Mục
                            <span class="arrow_carrot-down"></span>
                        </div>
                        <input type="text" id="name" name="name" placeholder="Tìm Kiếm Sản Phẩm.......">
                        <button type="submit"  class="site-btn" >TÌM KIẾM</button>
                    </form>
                </div>
               

            </div>

            <div id="slideshow">
                <img src="/assets/Content/user/img/banner/s1.jpg" />

            </div>
            <!-- <img src='back.png'style='position:absolute;left:0;top:340px;height:35px;' onclick='backSlide()'/> -->
            <!-- <img src='next.png'style='position:absolute;right:0;top:340px;height:35px;'onclick='nextSlide()'/> -->
            <script>
                    autoSlide();
            </script>
        </div>
    </div>
</div>
</section>

