
<app-header></app-header>
<app-menu></app-menu>
<div class="page-top" style="margin-left: 105px">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <h2 class="page-heading">
                    <span class="page-heading-title"><img alt="fashion" src="/assets/Content/images/commerce-tag.png"/>Whey Protetin</span>
                </h2>

                <div class="latest-deals-product">
                    <ul class="product-list owl-carousel" data-dots="false" data-loop="true" data-nav="true"
                        data-margin="10" data-autoplayTimeout="1000" data-autoplayHoverPause="true"
                        data-responsive='{"0":{"items":1},"600":{"items":3},"1000":{"items":5}}'>
                        <li>

                            <div class="left-block">
                                <a><img class="img-responsive" alt="product"
                                                 src="/assets/Content/user/img/product/wheyprotein1.jpg"/></a>

                                <div class="quick-view">
                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                    <a title="Add to compare" class="compare" href="#"></a>
                                    <a title="Quick view" href="/assets/Content/user/img/product/wheyprotein1.jpg" class="search fancybox-button"></a>
                                </div>
                                <div class="add-to-cart">
                                    <a class="add-item-to-cart" title="Add to Carr" href="#" data-name="Asparagus - 1kg"
                                       data-price="38500" data-image="vegetables/asparagus_300x300.jpg" data-product-code="AS109">Add to Cart</a>
                                </div>
                                </div>
                                <div class="price-percent-reduction2">
                                    -30% OFF
                                </div>
                            
                            <div class="right-block">
                                <h5 class="product-name"><a href="asparagus-detail.html">Whey Protein</a></h5>

                                <div class="content_price">
                                    <span class="price product-price">
                                        <span style="color: orangered">Giá mới:</span> 1,380,000đ</span>
                                    <br><span style="color: black">Giá cũ:</span>
                                    <span class="price old-price">1,600,000đ</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="left-block">
                                <a ><img class="img-responsive" alt="product"
                                                 src="/assets/Content/user/img/product/wheyprotein2.jpg"/></a>

                                <div class="quick-view">
                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                    <a title="Add to compare" class="compare" href="#"></a>
                                    <a title="Quick view" href="/assets/Content/user/img/product/wheyprotein2.jpg" class="search fancybox-button"></a>

                                </div>
                                <div class="add-to-cart">
                                    <a class="add-item-to-cart" title="Add to Cart" href="/admin" data-name="Barley - 1kg"
                                       data-price="21000" data-image="cereals/barley_300x300.jpg" data-product-code="BL237">Add to Cart</a>
                                </div>
                                <div class="price-percent-reduction2">
                                    -30% OFF
                                </div>
                            </div>
                            <div class="right-block">
                                <h5 class="product-name"><a href="barley-detail.html">Barley </a></h5>

                                <div class="content_price">
                                    <span class="price product-price">
                                        <span style="color: orangered">Giá mới:</span> 1,380,000đ</span>
                                    <br><span style="color: black">Giá cũ:</span>
                                    <span class="price old-price">1,600,000đ</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="left-block">
                                <a><img class="img-responsive" alt="product"
                                                 src="/assets/Content/user/img/product/wheyprotein3.jpg"/></a>

                                <div class="quick-view">
                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                    <a title="Add to compare" class="compare" href="#"></a>
                                    <a title="Quick view" href="/assets/Content/user/img/product/wheyprotein3.jpg" class="search fancybox-button"></a>
                                </div>
                                <div class="add-to-cart">
                                    <a class="add-item-to-cart" title="Add to Cart" href="#" data-name="Papaya - 1kg"
                                       data-price="10500" data-image="fruits/papaya_300x300.jpg" data-product-code="PP987">Add to Cart</a>
                                </div>
                                <div class="price-percent-reduction2">
                                    -30% OFF
                                </div>
                            </div>
                            <div class="right-block">
                                <h5 class="product-name"><a href="papaya-detail.html">Papaya - 1kg</a></h5>

                                <div class="content_price">
                                    <span class="price product-price"><span
                                            style="color: orangered">Best Price:</span> 10,500đ</span>
                                    <br><span style="color: black">Price:</span>
                                    <span class="price old-price">15,000đ</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="left-block">
                                <a><img class="img-responsive" alt="product"
                                                 src="/assets/Content/user/img/product/wheyprotein4.jpg"/></a>

                                <div class="quick-view">
                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                    <a title="Add to compare" class="compare" href="#"></a>
                                    <a title="Quick view" href="/assets/Content/user/img/product/wheyprotein4.jpg" class="search fancybox-button"></a>
                                </div>
                                <div class="add-to-cart">
                                    <a class="add-item-to-cart" title="Add to Cart" href="#" data-name="Black Beans - 1kg"
                                       data-price="31500" data-image="beans/blackbeans_300x300" data-product-code="BB0927">Add to Cart</a>
                                </div>
                                <div class="price-percent-reduction2">
                                    -30% OFF
                                </div>
                            </div>
                            <div class="right-block">
                                <h5 class="product-name"><a href="black-beans-detail.html">Black Beans - 1kg</a></h5>

                                <div class="content_price">
                                    <span class="price product-price"><span
                                            style="color: orangered">Best Price:</span> 31,500đ</span>
                                    <br><span style="color: black">Price:</span>
                                    <span class="price old-price">45,000đ</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="left-block">
                                <a><img class="img-responsive" alt="product"
                                                 src="/assets/Content/user/img/product/wheyprotein5.jpg"/></a>

                                <div class="quick-view">
                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                    <a title="Add to compare" class="compare" href="#"></a>
                                    <a title="Quick view" href="/assets/Content/user/img/product/wheyprotein5.jpg" class="search fancybox-button"></a>
                                </div>
                                <div class="add-to-cart">
                                    <a class="add-item-to-cart" title="Add to Cart" href="#" data-name="Walnuts - 500gr"
                                       data-price="199500" data-image="nuts/walnut_300x300.jpg" data-product-code="WN982">Add to Cart</a>
                                </div>
                                <div class="price-percent-reduction2">
                                    -30% OFF
                                </div>
                            </div>
                            <div class="right-block">
                                <h5 class="product-name"><a href="walnuts-detail.html">Walnuts - 500gr</a></h5>

                                <div class="content_price">
                                    <span class="price product-price"><span
                                            style="color: orangered">Best Price:</span> 199,500đ</span>
                                    <br><span style="color: black">Price:</span>
                                    <span class="price old-price">285,000đ</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="left-block">
                                <a><img class="img-responsive" alt="product"
                                                 src="/assets/Content/user/img/product/wheyprotein6.jpg"/></a>

                                <div class="quick-view">
                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                    <a title="Add to compare" class="compare" href="#"></a>
                                    <a title="Quick view" href="/assets/Content/user/img/product/wheyprotein6.jpg" class="search fancybox-button"></a>
                                </div>
                                <div class="add-to-cart">
                                    <a class="add-item-to-cart" title="Add to Cart" href="#" data-name="Chilly - 500gr"
                                       data-price="70000" data-image="spices/chilli_300x300.png" data-product-code="CL982">Add to Cart</a>
                                </div>
                                <div class="price-percent-reduction2">
                                    -30% OFF
                                </div>
                            </div>
                            <div class="right-block">
                                <h5 class="product-name"><a href="chilly-detail.html">Chilly - 500gr</a></h5>

                                <div class="content_price">
                                    <span class="price product-price"><span
                                            style="color: orangered">Best Price:</span> 70,000đ</span>
                                    <br><span style="color: black">Price:</span>
                                    <span class="price old-price">100,000đ</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page-top" style="margin-left: 105px">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <h2 class="page-heading">
                    <span class="page-heading-title"><img alt="fashion" src="/assets/Content/images/commerce-tag.png"/> PROMOTION</span>
                </h2>

                <div class="latest-deals-product">
                    <ul class="product-list owl-carousel" data-dots="false" data-loop="true" data-nav="true"
                        data-margin="10" data-autoplayTimeout="1000" data-autoplayHoverPause="true"
                        data-responsive='{"0":{"items":1},"600":{"items":3},"1000":{"items":5}}'>
                        <li>

                            <div class="left-block">
                                <a><img class="img-responsive" alt="product"
                                                 src="/assets/Content/user/img/product/wheyprotein1.jpg"/></a>

                                <div class="quick-view">
                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                    <a title="Add to compare" class="compare" href="#"></a>
                                    <a title="Quick view" href="/assets/Content/user/img/product/wheyprotein1.jpg" class="search fancybox-button"></a>
                                </div>
                                <div class="add-to-cart">
                                    <a class="add-item-to-cart" title="Add to Carr" href="#" data-name="Asparagus - 1kg"
                                       data-price="38500" data-image="vegetables/asparagus_300x300.jpg" data-product-code="AS109">Add to Cart</a>
                                </div>
                                <div class="price-percent-reduction2">
                                    -30% OFF
                                </div>
                            </div>
                            <div class="right-block">
                                <h5 class="product-name"><a href="asparagus-detail.html">Whey Protein</a></h5>

                                <div class="content_price">
                                    <span class="price product-price">
                                        <span style="color: orangered">Giá mới:</span> 1,380,000đ</span>
                                    <br><span style="color: black">Giá cũ:</span>
                                    <span class="price old-price">1,600,000đ</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="left-block">
                                <a ><img class="img-responsive" alt="product"
                                                 src="/assets/Content/user/img/product/wheyprotein2.jpg"/></a>

                                <div class="quick-view">
                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                    <a title="Add to compare" class="compare" href="#"></a>
                                    <a title="Quick view" href="/assets/Content/user/img/product/wheyprotein2.jpg" class="search fancybox-button"></a>

                                </div>
                                <div class="add-to-cart">
                                    <a class="add-item-to-cart" title="Add to Cart" href="/admin" data-name="Barley - 1kg"
                                       data-price="21000" data-image="cereals/barley_300x300.jpg" data-product-code="BL237">Add to Cart</a>
                                </div>
                                <div class="price-percent-reduction2">
                                    -30% OFF
                                </div>
                            </div>
                            <div class="right-block">
                                <h5 class="product-name"><a href="barley-detail.html">Barley </a></h5>

                                <div class="content_price">
                                    <span class="price product-price">
                                        <span style="color: orangered">Giá mới:</span> 1,380,000đ</span>
                                    <br><span style="color: black">Giá cũ:</span>
                                    <span class="price old-price">1,600,000đ</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="left-block">
                                <a><img class="img-responsive" alt="product"
                                                 src="/assets/Content/user/img/product/wheyprotein3.jpg"/></a>

                                <div class="quick-view">
                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                    <a title="Add to compare" class="compare" href="#"></a>
                                    <a title="Quick view" href="/assets/Content/user/img/product/wheyprotein3.jpg" class="search fancybox-button"></a>
                                </div>
                                <div class="add-to-cart">
                                    <a class="add-item-to-cart" title="Add to Cart" href="#" data-name="Papaya - 1kg"
                                       data-price="10500" data-image="fruits/papaya_300x300.jpg" data-product-code="PP987">Add to Cart</a>
                                </div>
                                <div class="price-percent-reduction2">
                                    -30% OFF
                                </div>
                            </div>
                            <div class="right-block">
                                <h5 class="product-name"><a href="papaya-detail.html">Papaya - 1kg</a></h5>

                                <div class="content_price">
                                    <span class="price product-price"><span
                                            style="color: orangered">Best Price:</span> 10,500đ</span>
                                    <br><span style="color: black">Price:</span>
                                    <span class="price old-price">15,000đ</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="left-block">
                                <a><img class="img-responsive" alt="product"
                                                 src="/assets/Content/user/img/product/wheyprotein4.jpg"/></a>

                                <div class="quick-view">
                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                    <a title="Add to compare" class="compare" href="#"></a>
                                    <a title="Quick view" href="/assets/Content/user/img/product/wheyprotein4.jpg" class="search fancybox-button"></a>
                                </div>
                                <div class="add-to-cart">
                                    <a class="add-item-to-cart" title="Add to Cart" href="#" data-name="Black Beans - 1kg"
                                       data-price="31500" data-image="beans/blackbeans_300x300" data-product-code="BB0927">Add to Cart</a>
                                </div>
                                <div class="price-percent-reduction2">
                                    -30% OFF
                                </div>
                            </div>
                            <div class="right-block">
                                <h5 class="product-name"><a href="black-beans-detail.html">Black Beans - 1kg</a></h5>

                                <div class="content_price">
                                    <span class="price product-price"><span
                                            style="color: orangered">Best Price:</span> 31,500đ</span>
                                    <br><span style="color: black">Price:</span>
                                    <span class="price old-price">45,000đ</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="left-block">
                                <a><img class="img-responsive" alt="product"
                                                 src="/assets/Content/user/img/product/wheyprotein5.jpg"/></a>

                                <div class="quick-view">
                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                    <a title="Add to compare" class="compare" href="#"></a>
                                    <a title="Quick view" href="/assets/Content/user/img/product/wheyprotein5.jpg" class="search fancybox-button"></a>
                                </div>
                                <div class="add-to-cart">
                                    <a class="add-item-to-cart" title="Add to Cart" href="#" data-name="Walnuts - 500gr"
                                       data-price="199500" data-image="nuts/walnut_300x300.jpg" data-product-code="WN982">Add to Cart</a>
                                </div>
                                <div class="price-percent-reduction2">
                                    -30% OFF
                                </div>
                            </div>
                            <div class="right-block">
                                <h5 class="product-name"><a href="walnuts-detail.html">Walnuts - 500gr</a></h5>

                                <div class="content_price">
                                    <span class="price product-price"><span
                                            style="color: orangered">Best Price:</span> 199,500đ</span>
                                    <br><span style="color: black">Price:</span>
                                    <span class="price old-price">285,000đ</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="left-block">
                                <a><img class="img-responsive" alt="product"
                                                 src="/assets/Content/user/img/product/wheyprotein6.jpg"/></a>

                                <div class="quick-view">
                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                    <a title="Add to compare" class="compare" href="#"></a>
                                    <a title="Quick view" href="/assets/Content/user/img/product/wheyprotein6.jpg" class="search fancybox-button"></a>
                                </div>
                                <div class="add-to-cart">
                                    <a class="add-item-to-cart" title="Add to Cart" href="#" data-name="Chilly - 500gr"
                                       data-price="70000" data-image="spices/chilli_300x300.png" data-product-code="CL982">Add to Cart</a>
                                </div>
                                <div class="price-percent-reduction2">
                                    -30% OFF
                                </div>
                            </div>
                            <div class="right-block">
                                <h5 class="product-name"><a href="chilly-detail.html">Chilly - 500gr</a></h5>

                                <div class="content_price">
                                    <span class="price product-price"><span
                                            style="color: orangered">Best Price:</span> 70,000đ</span>
                                    <br><span style="color: black">Price:</span>
                                    <span class="price old-price">100,000đ</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page-top" style="margin-left: 105px">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <h2 class="page-heading">
                    <span class="page-heading-title"><img alt="fashion" src="/assets/Content/images/commerce-tag.png"/> PROMOTION</span>
                </h2>

                <div class="latest-deals-product">
                    <ul class="product-list owl-carousel" data-dots="false" data-loop="true" data-nav="true"
                        data-margin="10" data-autoplayTimeout="1000" data-autoplayHoverPause="true"
                        data-responsive='{"0":{"items":1},"600":{"items":3},"1000":{"items":5}}'>
                        <li>

                            <div class="left-block">
                                <a><img class="img-responsive" alt="product"
                                                 src="/assets/Content/user/img/product/wheyprotein1.jpg"/></a>

                                <div class="quick-view">
                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                    <a title="Add to compare" class="compare" href="#"></a>
                                    <a title="Quick view" href="/assets/Content/user/img/product/wheyprotein1.jpg" class="search fancybox-button"></a>
                                </div>
                                <div class="add-to-cart">
                                    <a class="add-item-to-cart" title="Add to Carr" href="#" data-name="Asparagus - 1kg"
                                       data-price="38500" data-image="vegetables/asparagus_300x300.jpg" data-product-code="AS109">Add to Cart</a>
                                </div>
                                <div class="price-percent-reduction2">
                                    -30% OFF
                                </div>
                            </div>
                            <div class="right-block">
                                <h5 class="product-name"><a href="asparagus-detail.html">Whey Protein</a></h5>

                                <div class="content_price">
                                    <span class="price product-price">
                                        <span style="color: orangered">Giá mới:</span> 1,380,000đ</span>
                                    <br><span style="color: black">Giá cũ:</span>
                                    <span class="price old-price">1,600,000đ</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="left-block">
                                <a ><img class="img-responsive" alt="product"
                                                 src="/assets/Content/user/img/product/wheyprotein2.jpg"/></a>

                                <div class="quick-view">
                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                    <a title="Add to compare" class="compare" href="#"></a>
                                    <a title="Quick view" href="/assets/Content/user/img/product/wheyprotein2.jpg" class="search fancybox-button"></a>

                                </div>
                                <div class="add-to-cart">
                                    <a class="add-item-to-cart" title="Add to Cart" href="/admin" data-name="Barley - 1kg"
                                       data-price="21000" data-image="cereals/barley_300x300.jpg" data-product-code="BL237">Add to Cart</a>
                                </div>
                                <div class="price-percent-reduction2">
                                    -30% OFF
                                </div>
                            </div>
                            <div class="right-block">
                                <h5 class="product-name"><a href="barley-detail.html">Barley </a></h5>

                                <div class="content_price">
                                    <span class="price product-price">
                                        <span style="color: orangered">Giá mới:</span> 1,380,000đ</span>
                                    <br><span style="color: black">Giá cũ:</span>
                                    <span class="price old-price">1,600,000đ</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="left-block">
                                <a><img class="img-responsive" alt="product"
                                                 src="/assets/Content/user/img/product/wheyprotein3.jpg"/></a>

                                <div class="quick-view">
                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                    <a title="Add to compare" class="compare" href="#"></a>
                                    <a title="Quick view" href="/assets/Content/user/img/product/wheyprotein3.jpg" class="search fancybox-button"></a>
                                </div>
                                <div class="add-to-cart">
                                    <a class="add-item-to-cart" title="Add to Cart" href="#" data-name="Papaya - 1kg"
                                       data-price="10500" data-image="fruits/papaya_300x300.jpg" data-product-code="PP987">Add to Cart</a>
                                </div>
                                <div class="price-percent-reduction2">
                                    -30% OFF
                                </div>
                            </div>
                            <div class="right-block">
                                <h5 class="product-name"><a href="papaya-detail.html">Papaya - 1kg</a></h5>

                                <div class="content_price">
                                    <span class="price product-price"><span
                                            style="color: orangered">Best Price:</span> 10,500đ</span>
                                    <br><span style="color: black">Price:</span>
                                    <span class="price old-price">15,000đ</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="left-block">
                                <a><img class="img-responsive" alt="product"
                                                 src="/assets/Content/user/img/product/wheyprotein4.jpg"/></a>

                                <div class="quick-view">
                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                    <a title="Add to compare" class="compare" href="#"></a>
                                    <a title="Quick view" href="/assets/Content/user/img/product/wheyprotein4.jpg" class="search fancybox-button"></a>
                                </div>
                                <div class="add-to-cart">
                                    <a class="add-item-to-cart" title="Add to Cart" href="#" data-name="Black Beans - 1kg"
                                       data-price="31500" data-image="beans/blackbeans_300x300" data-product-code="BB0927">Add to Cart</a>
                                </div>
                                <div class="price-percent-reduction2">
                                    -30% OFF
                                </div>
                            </div>
                            <div class="right-block">
                                <h5 class="product-name"><a href="black-beans-detail.html">Black Beans - 1kg</a></h5>

                                <div class="content_price">
                                    <span class="price product-price"><span
                                            style="color: orangered">Best Price:</span> 31,500đ</span>
                                    <br><span style="color: black">Price:</span>
                                    <span class="price old-price">45,000đ</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="left-block">
                                <a><img class="img-responsive" alt="product"
                                                 src="/assets/Content/user/img/product/wheyprotein5.jpg"/></a>

                                <div class="quick-view">
                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                    <a title="Add to compare" class="compare" href="#"></a>
                                    <a title="Quick view" href="/assets/Content/user/img/product/wheyprotein5.jpg" class="search fancybox-button"></a>
                                </div>
                                <div class="add-to-cart">
                                    <a class="add-item-to-cart" title="Add to Cart" href="#" data-name="Walnuts - 500gr"
                                       data-price="199500" data-image="nuts/walnut_300x300.jpg" data-product-code="WN982">Add to Cart</a>
                                </div>
                                <div class="price-percent-reduction2">
                                    -30% OFF
                                </div>
                            </div>
                            <div class="right-block">
                                <h5 class="product-name"><a href="walnuts-detail.html">Walnuts - 500gr</a></h5>

                                <div class="content_price">
                                    <span class="price product-price"><span
                                            style="color: orangered">Best Price:</span> 199,500đ</span>
                                    <br><span style="color: black">Price:</span>
                                    <span class="price old-price">285,000đ</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="left-block">
                                <a><img class="img-responsive" alt="product"
                                                 src="/assets/Content/user/img/product/wheyprotein6.jpg"/></a>

                                <div class="quick-view">
                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                    <a title="Add to compare" class="compare" href="#"></a>
                                    <a title="Quick view" href="/assets/Content/user/img/product/wheyprotein6.jpg" class="search fancybox-button"></a>
                                </div>
                                <div class="add-to-cart">
                                    <a class="add-item-to-cart" title="Add to Cart" href="#" data-name="Chilly - 500gr"
                                       data-price="70000" data-image="spices/chilli_300x300.png" data-product-code="CL982">Add to Cart</a>
                                </div>
                                <div class="price-percent-reduction2">
                                    -30% OFF
                                </div>
                            </div>
                            <div class="right-block">
                                <h5 class="product-name"><a href="chilly-detail.html">Chilly - 500gr</a></h5>

                                <div class="content_price">
                                    <span class="price product-price"><span
                                            style="color: orangered">Best Price:</span> 70,000đ</span>
                                    <br><span style="color: black">Price:</span>
                                    <span class="price old-price">100,000đ</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
